<% for user in @users %>
  <div class= "col-sm-10">
    <p class="post-content"><%= user.name %></p>
    <p class="post-content"><%= user.email %></p>
    <p><%= image_tag(user.image.thumb.url ) if user.image && user.image.url %></p>
  </div>
<% end %>
