// .row {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 1000px;
//   width: 100%;
// }
.row {
  // padding: 0;
  margin-bottom: 15px;
}

.row > * {
  background: #fff;
}

.col-sm-8.col-sm-offset-2 {
  border: 1px solid #333;
  padding: 0;
  margin-bottom: 15px;
  // margin: 0;
}

.post-prof {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  // justify-content: space-between;
  border-bottom: 1px solid black;
}

.post-prof > img {
  border-radius: 50%; 
  height: 50px;
  width: 50px;
  margin-right : 10px;
  };

.post-img {
  padding: 0px;
  margin-bottom: 15px;
  max-width:100%;
}

.post-links {
  font-size: 20px;
  // padding-right: 50px;
  max-width: 30%;
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.post-text {
  padding: 10px;
  margin: 10px;
}